NEXT_PUBLIC_SUPABASE_URL=https://ziuqzoqwkbtpjbleoibj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_mmGLuziB99Tw2hI2AsPqSg_OPfwqgRE

# ATELIER ADMIN HERALD (Telegram Mobile Notifications)
# Get your token @BotFather and your ID @userinfobot on Telegram
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=8619460748:AAHePI1_Vjh839JgR6yW6AabzGl9bVsz7L8
NEXT_PUBLIC_TELEGRAM_CHAT_ID=-5182994662

# RAZORPAY PAYMENT GATEWAY
# Get these from https://dashboard.razorpay.com/app/keys
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_SZKFg8cwP3D4GA
RAZORPAY_KEY_SECRET=kzA6ngyfbzFA4U0dxjPriU0N

GMAIL_APP_PASSWORD=kbzf vint mrjo irsi
